.dropdown-hover-container {
  position: relative;
  display: inline-block;
}

.dropdown-hover-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--color-bg);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
  border-radius: 0.375rem;
  padding: 0.5rem;
  border: 1px solid var(--color-border);
}

.dropdown-hover-container:hover .dropdown-hover-menu {
  display: block;
}
