:root {
  --driver-bg-color: var(--color-bg2);
  --driver-fg-color: var(--color-fg);
  --driver-border-color: var(--color-secondary);
}

.driver-popover {
  background-color: var(--driver-bg-color);
  color: var(--driver-fg-color);
}

.driver-popover-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-secondary);
}

.driver-popover-description {
  font-size: 1rem;
  color: var(--driver-fg-color);
}

.driver-popover-arrow-side-left.driver-popover-arrow,
.driver-popover-arrow-side-right.driver-popover-arrow {
  border-top-color: var(--driver-border-color);
}

.driver-popover-arrow-side-bottom.driver-popover-arrow,
.driver-popover-arrow-side-top.driver-popover-arrow {
  border-right-color: var(--driver-border-color);
}

.driver-popover-close-btn {
  color: var(--color-fg);
}
.driver-popover-close-btn:hover {
  color: var(--color-muted);
}

.driver-popover-footer button {
  background-color: transparent;
  color: var(--color-fg);
  border: 1px solid var(--color-primary);
  text-shadow: none;
  font-size: 0.85rem;
  padding: 0.4rem 1rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s;
}

.driver-popover-footer button:hover {
  background-color: transparent;
  border: 1px solid var(--color-secondary);
  color: var(--color-fg);
}

.driver-popover-footer .driver-popover-prev-btn {
  background-color: transparent;
  color: var(--color-fg);
  border: 1px solid var(--color-primary-hover);
}

.driver-popover-footer .driver-popover-prev-btn:hover {
  border: 1px solid var(--color-secondary);
  background-color: transparent;
  color: var(--color-fg);
}
